@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f57f17;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-button {
    padding: 6px 10px;
    background-color: #f57f17;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.user-options {
    display: flex;
    align-items: center;
}

.user-options a {
    margin-left: 20px;
    color: #333;
    text-decoration: none;
}

.user-options .cart {
    font-size: 24px;
}

main {
    padding: 20px;
    text-align: center;
}

.ofertas {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex; 
    flex-wrap: wrap; 
    gap: 16px; 
    justify-content: center; 
}

.ofertas h2 {
    color: #f57f17;
    font-size: 24px;
    margin-bottom: 20px;
    width: 100%; 
    text-align: center;
}

.product {
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    padding: 16px;
    width: 150px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, opacity 0.2s;
    display: inline-flex; 
    flex-direction: column; 
    align-items: center;
}

.product img {
    display: block;
    margin: 0 auto 10px;
    max-width: 100px;
    height: auto;
}

.product p {
    margin-bottom: 10px;
}

.product button {
    background-color: #f57f17;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.product.hidden {
    display: none; 
}

.ver-mais {
    background-color: #f57f17;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}
